In [54]:
a=0
for i in range(1,6):
    a=a*10+i
    print(" ".join(str(a)))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [55]:
# pattren2

In [56]:
a=" "
for i in range(1,6):
    a=a+chr(64+i)+" "
    print(a)

 A
 A B
 A B C
 A B C D
 A B C D E

In [57]:
# pattren3

In [58]:
a=" 1"
for i in range(1,6):
    a=a+str(i)+" "
    print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

In [59]:
# pattren4

In [60]:
a=" "
for i in range(1,6):
    a=a+str(i)+" "
    print(" ".join(i*str(i)))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [61]:
# pattren5

In [62]:
a=" "
for i in range(1,6):
    a=a+chr(64+i)+" "
    print(" ".join(i*str(chr(64+i))))

A
B B
C C C
D D D D
E E E E E

In [63]:
#pattre6

In [64]:
a=" "
for i in range(1,6):
#    a=a+str(i)+" "
    print((6-i)*" "+i*"*")

     *
    **
   ***
  ****
 *****

In [65]:
#pattren7

In [66]:
a=" "
for i in range(1,6):
    a=a+str(i)+" "
    print(a.center(20," "))

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5

In [67]:
#pattren8

In [68]:
a=" "
for i in range(1,6):
    a=" "+str(6-i)+a
    print(a.center(20," "))

         5
        4 5
       3 4 5
      2 3 4 5
     1 2 3 4 5

In [69]:
#pattren9

In [70]:
a=" "
for i in range(1,6):
    a=a+chr(64+i)+" "
    print(a.center(20," "))

         A
        A B
       A B C
      A B C D
     A B C D E

In [71]:
#pattren10

In [72]:
a=" "
for i in range(1,6):
    a=" "+chr(6+64-i)+a
    print(a.center(20," "))

         E
        D E
       C D E
      B C D E
     A B C D E

In [73]:
# pattren11

In [74]:
a=" "
for i in range(1,6*2,2):
    a=i*"*"
    print(a.center(20," "))

         *
        ***
       *****
      *******
     *********
    ***********

In [75]:
#pattren12

In [76]:
a=" "
for i in range(1,6):
    a=" ".join(i*str(i))
    print(a.center(20," "))

         1
        2 2
       3 3 3
      4 4 4 4
     5 5 5 5 5

In [77]:
#pattren13

In [78]:
a=" "
for i in range(1,6):
    a=" ".join(i*str(chr(64+i)))
    print(a.center(20," "))

         A
        B B
       C C C
      D D D D
     E E E E E

In [79]:
# pattren14

In [80]:
for i in range(6,0,-1):
    a = ""
    for j in range(1,i+1):
        a=a+str(j)
    print(" ".join(a))

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [83]:
# pattren15

In [90]:
a=" "
for i in range(6,0-1):
    a = ""
    for j in range(i,0,-1):
        a=a+str()
    print(" ".join(a))

In [87]:
#pattren16

In [89]:
for i in range(1,6):
    data=data+str(6-i)+" "
    print(data)

 5
 5 4
 5 4 3
 5 4 3 2
 5 4 3 2 1

In [91]:
#pattren17

In [99]:
num=0
for i in range(1,6):
    a = ""
    for j in range(0,i):
        num+=1
        a=a+str(num)+" "
    print(a)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [100]:
#pattren18

In [101]:

for i in range(6,1,-1):
    data = ""
    for j in range(1,i):
        data=data+chr(64+j)+" "
    print(data)

A B C D E
A B C D
A B C
A B
A

In [102]:
#pattren19

In [105]:
for i in range(6,0,-1):
#     a=a+str(i)+" "
    print((6-i)*" "+i*"*")

******
 *****
  ****
   ***
    **
     *

In [106]:
#pattren20

In [114]:
for i in range(1,6):
    if i==5:
        for j in range(6-1,0,-1):
            print(j*"*")
    else:
        print(i*"*")

*
**
***
****
*****
****
***
**
*

In [111]:
#pattren21

In [116]:
n=5
for i in range(n):
    for j in range(i):
        print('',end=' ')
    for k in range(n,i,-1):
        print('*',end='')
    print(' ')
for i in range(1,n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(i + 1):
        print('*', end='')
    print()

*****
 ****
  ***
   **
    *
   **
  ***
 ****
*****

In [117]:
#pattren22

In [119]:
n=5
for i in range(n-1):
    for j in range(0,n-i):
        print('*',end='')
    print( )
for i in range(1,n+1):
    for j in range(n-i,n):
        print('*', end='')
    print( )

*****
****
***
**
*
**
***
****
*****

In [120]:
#pattren23

In [123]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(' ', end='')
    for k in range(1 * i + 1):
        if k == 0 or k == 1 * i:
            print('*', end='')
        else:
            if i == n - 1:
                print('*', end='')
            else:
                print(' ', end='')
    print()

    *
   **
  * *
 *  *
*****

In [124]:
n = 5
for i in range(1, n+1):
    for j in range(i):
        if j == 0 or j == i-1:
            print('*', end='')
        else:
            if i != n:
                print(' ', end='')
            else:
                print('*', end='')
    print()

*
**
* *
*  *
*****

In [125]:
#pattren25

In [126]:
n = 6
for i in range(n-1):
    for j in range(i+1):
        print('', end=' ')
    for j in range((n-i)-1):
        print('*', end=' ')
    print()
for i in range(1,n-1):
    for j in range(n-i-1):
        print(' ', end='')
    for j in range(i+1):
        print('*', end=' ')
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
#pattren26

In [128]:

for i in range(1,6):
    data=""
    if i==6-1:
        data=data+i*"*"
    else:
        for j in range(1, i+1):
            if j==1 or j==i:
                data=data+"*"
            else:
                data=data+" "
    print(data)

*
**
* *
*  *
*****

In [129]:
#pattern27

In [132]:

for i in range(6-1,0,-1):
            a=(6-(i+1))*" "+i*"*"
            print(i*"*"+(6-(i+1))*" "+a)
            if i ==1:
                for j in range(1, 6):
                    a = (6 - (j + 1)) * " " + j * "*"
                    print(j * "*" + (6 - (j + 1)) * " " + a)

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [133]:
#pattern28

In [134]:

for i in range(1,6):
    if i!=6-1:
        a=(6-(i+1))*" "+i*"*"
        print(i*"*"+(6-(i+1))*" "+a)
    else:
        for i in range(6-1,0,-1):
            a=(6-(i+1))*" "+i*"*"
            print(i*"*"+(6-(i+1))*" "+a)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [135]:
#pattern29

In [136]:

for i in range(6,0,-1):
    a=(6-i)*" "+i*"*"
    print(i*"*"+(6-i)*" "+a)

************
*****  *****
****    ****
***      ***
**        **
*          *

In [137]:
#pattern30

In [138]:

for i in range(1,6):
    a=(6-(i+1))*" "+i*"*"
    print(i*"*"+(6-(i+1))*" "+a)

*        *
**      **
***    ***
****  ****
**********

In [140]:

for i in range(1,6,2):
    if i ==6-1:
        for j in range(6-1,0,-2):

            star=j*"*"
            print(star.center(20," "))
    else:
        star=i*"*"
        print(star.center(20," "))

         *
        ***
       *****
        ***
         *

In [141]:
#pattern32

In [142]:
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [143]:
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [144]:
#pattern33

In [145]:
n=5
for i in range(n):
    for j in range(i+1):
        print(chr(j+65),end=' ')
    print(' ')

A
A B
A B C
A B C D
A B C D E

In [146]:
#pattern34

In [147]:
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print('*',end=' ')
    print('\r')

*
* *
* * *
* * * *
* * * * *

In [148]:
#pattern35

In [149]:
n=6
for i in range(n):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [150]:
#pattern36

In [151]:
n=5
num=65
for i in range(0,n):
    for j in range(0,i+1):
        ch=chr(num)
        print(ch,end=' ')
    num=num+1
    print('\r')

A
B B
C C C
D D D D
E E E E E